
<mat-toolbar style="background-color: #673ab7; color : white;">
    <span class="fill-remaining-space" align="center">{{actiontitle}}</span>
  </mat-toolbar>
  
  <div class="container">
    <form class="form" [formGroup]="addModuleForm">
      <mat-form-field appearance="outline">
        <mat-label>Nom Classe</mat-label>
        <input matInput placeholder="Sasir la classe de l'employe" formControlName="nomClasse"/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correspondance</mat-label>
        <textarea matInput placeholder="Correspondance" formControlName="correspondance"rows="6"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" class="pull"   type="submit" [disabled]="!addModuleForm.valid" (click)= "addClasse()" > {{actionBtn}}</button>
      <button mat-raised-button color="warm" style="background-color: red; color: white;" class="pull-right" type="submit" (click)="closeDialog()" mat-dialog-close>Fermer</button>
    </form>
  </div>
