<form [formGroup]="addModuleForm" style="margin-left: 70px; width: 100%;">
 
  <div class="container-md">
    <div class="row"style="margin-left: 80px;">
      <div class="col-md-2  card card text-dark card-width:10px; "style="font-weight:bold;text-align:center;">Matricule:</div>
      <div class="col-md-3 card text-center">
        <mat-form-field style="height: 70px;" >
          <input  formControlName="Periode" matInput placeholder="Matricule"readonly="readonly"  formControlName="employe_id">
          </mat-form-field>
         </div>
      <div class="col-md-2  card card text-dark" style="font-weight:bold;text-align:center;">Periode:</div>
       <div class="col-md-3 card text-center">
        <mat-form-field  style="height: 70px;" >
          <input  matInput [matDatepicker]= "picker" formControlName="periode" matInput placeholder="Sasir la Periode">
            <mat-datepicker-toggle matSuffix [for]= "picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
         </div>
    </div><br>
    <table class=" table table-bordered bg-white table-striped" style="width: 90%;margin-left:-5px;">
      <thead>
      <tr >
        <th>code</th>
        <th>rubrique</th>
        <th>nbr</th>
        <th>unite</th>
        <th>indice</th>
        <th>vpi</th>
        <th>base</th>
        <th>taux</th>
        <th>gain</th>
        <th>revenue</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rubrique of rubrique">
        <td style="border: solid  gray 1px;width: 50px; padding-left: 10px;">
          {{rubrique?.codeFiche}}
        </td >
          <td style="border: solid  gray 1px;width: 325px; padding-left: 10px;">
            {{rubrique.rubriqueFiche}}
          </td>
          <td>
          <div class="col">
            <div class="row-md-6 "><input type="text" style="width: 50px;"></div>
          </div>
        </td>
          <td style="border: solid gray 1px;width: 50px; border-left-color:  black">
          {{rubrique.montantFiche}}
         </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text" style="width: 70px;"></div>
            </div>
          </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text" style="width: 50px;"></div>
            </div>
          </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text"style="width: 90px;"></div>
            </div>
          </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text"style="width: 50px;"></div>
            </div>
          </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text"style="width: 100px;"></div>
            </div>
          </td>
          <td>
            <div class="col">
             <div class="row-md-6 ">
              <input type="text" style="width: 100px;"></div>
            </div>
          </td>
        </tr>
      </tbody> 

      <!-- footer table-->
      <tbody>
        <tr>
          <td colspan="8" class="bg-secondary" >
           <span style=" float: right; display: flex; flex-direction: column; font-size: 16px;">Total des gains et des retenues</span>
          </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text" style="width: 100px;"></div>
            </div>
          </td>
          <td >
            <div class="col">
              <div class="row-md-6 "><input type="text" style="width: 100px;"></div>
            </div>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td colspan="9"class="bg-secondary">
            <span style=" float: right; display: flex; flex-direction: column;font-size: 16px;">Net a payer</span>
          </td>
          <td>
            <div class="col">
              <div class="row-md-6 "><input type="text" style="width: 100%;"></div>
            </div>
          </td>
        </tr>
      </tbody>
      <!-- end footer table -->
    </table>
    </div><br><br>
</form>
