.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  .ng-star-inserted{
    background-color: #cdc2e0; 
  }
  .container1{
    width: 77%;
    margin-left: 570px;
  }
  mat-form-field{
 margin-bottom: 10px;
  margin-top:30px;
  width:55%;
  height:90%;
  flex-direction: column;
    flex: 50%;
  }
  .container-left1 mat-form-field{
    width: 15%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 25%;
    float: right;
    margin-right: 195px;
    margin-top: -440px;

  }
 
  .container-left12 mat-form-field{
    width: 40%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -520px;

  }
  .left{
    width: 100%;
    margin-left: 0;

  }
  .container-left2 mat-form-field{
    width: 15%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 25%;
    float: right;
    margin-right: 195px;
    margin-top: -345px;

  }
  .mb-51 mat-form-field {
    width: 20%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -435px;
 
  } 
  .mb-52 mat-form-field {
    width: 42%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -300px;
 
  } 
  .mb-521 mat-form-field {
    width: 42%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top:-215px;
 
  } 
  .mb-53 mat-form-field {
    width: 42%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -190px;
 
  } 
  .mb-5 mat-form-field {
    width: 20%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -480px;
 
  } 
  .container-left  mat-form-field{
    width: 40%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -435px;
  }
  .mb-56  mat-form-field {
    width: 40%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -323px;
  } 
  .container-left-type mat-form-field{
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -405px;
}
.container12 mat-form-field{
  width:55%;
  margin-top: -80px;
  flex-direction: column;
  display: flex;
  flex: 50%;

}

.ml-3 mat-form-field{ 
    width:40%;
    right: 10px;
    margin-top:-405px ;
    flex-direction: column;
    display: flex;
    flex: 50%;
}
.mr-3 mat-form-field{ 
    width:40%;
   right:  3px;
    float: right;
    margin-right: 5px;
    margin-top: -315px;
    flex-direction: column;
    display: flex;
    flex: 50%;
}
@media only screen and (max-width: 600px) and (min-width: 400px)  {

  .ml-3 mat-form-field{ 
    width:10%;
    right: 10px;
    margin-top:-480px ;
    flex-direction: column;
    display: flex;
    flex: 50%;
}
.mr-3 mat-form-field{ 
  width:15%;
 right:235px;
  margin-top:-480px;
  flex-direction: column;
  display:flex;
  flex:50%;
}
.container-left .btn{
    width: 40%;
    margin-bottom: 90px;
    flex-direction: column;
    display: flex;
    flex: 50%;
    float: right;
    margin-top: -599px;

}
}
.pull{ 
  float: right;
  /* margin-top: -100px; */
  width: 40%;
}
.pull-right{ 
  float: right;
  margin-right: 90px;
  /* margin-top: -45px; */
  width: 30%;
}
.pull1{ 
  float: right;
  margin-left: 200px;;
  /* margin-top: -100px; */
  width: 40%;
}
.pull-right1{ 
  float: right;
  margin-right: -90px;
  /* margin-top: -45px; */
  width: 40%;
}
