<div><h1> <span>Parametres: Bulletin de Salaire</span> </h1></div> 

<mat-card>
  
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup) ="applyFilter($event)" placeholder="Saisir le nom">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <button mat-raised-button color="primary" class="pull-right mt-3" routerLink="/listemployer">
    <i class="fa fa-user"></i>Nouvelle Fiche</button>
</mat-card>

<div class="container">
  <div class="mat-elevation-z8"></div>
  <table  class="table table-bordered  table-striped table-hover" mat-table [dataSource] ="dataSource" matSort >
  <!-- <ng-container matColumnDef="contrat_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</th>
      <td mat-cell *matCellDef="let element"> {{element.contrat.matricule}}</td>
    </ng-container>

 -->
 <ng-container matColumnDef="matricule">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>Matricule</th>
  <td mat-cell *matCellDef="let element">{{element.matricule}}</td>
</ng-container>
  
    <!-- Progress Column -->
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
      <td mat-cell *matCellDef="let element">{{element.nom}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</th>
      <td mat-cell *matCellDef="let element">{{element.prenom}}</td>
    </ng-container>

    <ng-container matColumnDef="etat_civil">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EtatCivil</th>
      <td  mat-cell *matCellDef="let element"> {{element.etat_civil}}</td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="type_paie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type Payement</th>
      <td mat-cell *matCellDef="let element"> {{element.type_paie}}</td>
    </ng-container>
    <!-- Fruit Column -->
    <ng-container matColumnDef="mode_paie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Mode Payement</th>
      <td mat-cell *matCellDef="let element"> {{element.mode_paie}}</td>
    </ng-container>

    <ng-container matColumnDef="nom_banque">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Banque</th>
      <td  mat-cell *matCellDef="let element"> {{element.nom_banque}} </td>
    </ng-container>
    <ng-container matColumnDef="num_compte">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero Compte</th>
      <td  mat-cell *matCellDef="let element"> {{element.num_compte}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" yposition="above">
          <mat-icon class="mat-18">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="editEmployer(element)">
            <mat-icon mat-fab color="primary">edit</mat-icon>Voir detail
          </button>
          <button mat-menu-item >
            <mat-icon mat-fab color="primary">print</mat-icon>Imprimer Bulletin
          </button>
          <button mat-menu-item (click)="deleteEmployer(element.id)">
            <mat-icon mat-fab color="warn">delete</mat-icon> Supprimer Fiche
          </button>
          <!-- <button mat-menu-item (click)="openDialogEpouse(element)">
            <mat-icon mat-fab color="primary">add</mat-icon> Ajouter epoux(se)
          </button>
          <button mat-menu-item (click)="openDialogEnfant(element)">
            <mat-icon mat-fab color="primary">add</mat-icon> Ajouter ses Enfants
          </button>
          <button mat-menu-item (click)="openDialogContrat(element)">
            <mat-icon mat-fab color="primary">add</mat-icon> Ajouter Contrat
          </button>
           <button mat-menu-item (click)="voireFichePaie(element.matricule)">
            <mat-icon mat-fab color="primary">visibility</mat-icon>Voir Fiche Paie
          </button> -->
        </mat-menu>
        
        <!-- <button mat-icon-button (click)="editEmployer(row)" color="primary"> 
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn"> 
          <mat-icon>delete</mat-icon>
        </button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns; "></tr>
  </table>
  <mat-paginator style=" background-color: #cdc2e0;" [length]="200" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<!-- <div class="container">
  <router-outlet>
    <br><br>
    <app-list-famille></app-list-famille>
    
  </router-outlet>

</div> -->