

 <div class="container mt-4">
  <h1 class="container">Formulaire d’initialisation de fiche de paie</h1>
  <form [formGroup]="ImportationForm" (ngSubmit)="onSubmit()">
    <mat-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="ImportationForm">
        <ng-template matStepLabel>Etape 1</ng-template>
        <h2>Informations Personnels</h2>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>matricule</mat-label>
            <input matInput placeholder="matricule" formControlName="matricule" (keypress)="myMethod(myInput.value)"
                   #myInput required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>etatCivil</mat-label>
            <input matInput placeholder="etatCivil" formControlName="etatCivil">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label> nbrEpouse</mat-label>
            <input matInput placeholder="nbrEpouse" formControlName="nbrEpouse">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>nbrPartImpot</mat-label>
            <input matInput placeholder="nbrPartImpot" formControlName="nbrPartImpot" required>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>nbrPartFical</mat-label>
            <input matInput placeholder="nbrPartFical" formControlName="nbrPartFical">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>nbrDenfantPrest</mat-label>
            <input matInput placeholder="jourBase" formControlName="jourBase">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label> nbrDenfantPrest</mat-label>
            <input matInput placeholder="nbrDenfantPrest" formControlName="nbrDenfantPrest">
          </mat-form-field> 
          <mat-form-field appearance="fill" class="col-4">
            <mat-label> nbreJourPresence</mat-label>
            <input matInput placeholder="nbrEnfant" formControlName="nbrEnfant">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label> totalEnfant</mat-label>
            <input matInput placeholder="totalEnfant" formControlName="totalEnfant">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label> totalEnfant</mat-label>
            <input matInput placeholder="nbreJourPresence" formControlName="nbreJourPresence">
          </mat-form-field>
        </div>
        <h2>Informations Personnels</h2>
        <div class="row">
          <!-- <mat-form-field appearance="fill" class="col-4"> -->
            <!-- <mat-label>Contrat</mat-label>
            <input matInput placeholder="matricule"formControlName="matricule">
          </mat-form-field> -->
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="nom" formControlName="nom">
          </mat-form-field> 
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="prenom" formControlName="prenom">
          </mat-form-field>
       <!-- <mat-form-field appearance="fill" class="col-4">
            <mat-label>Periode</mat-label>
            <input matInput placeholder="Periode" formControlName="periode">
          </mat-form-field> -->
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>TypePaie</mat-label>
            <input matInput placeholder="TypePaie" formControlName="typePaie_id">
          </mat-form-field> 
         <!-- <mat-form-field appearance="fill" class="col-4">
            <mat-label>TypePaieRef</mat-label>
            <input matInput placeholder="TypePaieRef" formControlName="typePaieRef_id">
          </mat-form-field>-->
          <mat-form-field appearance="fill" class="col-4"> 
            <mat-label>TypePaieRef</mat-label>
            <input matInput placeholder="TypePaieRef" formControlName="typePaieRef_id">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Corps</mat-label>
            <input matInput placeholder="Corps" formControlName="corp_id">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Indice</mat-label>
            <input matInput placeholder="TypePaieRef" formControlName="salaireBase">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Classe</mat-label>
            <input matInput placeholder="Classe" formControlName="classe_id">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Echelon</mat-label>
            <input matInput placeholder="Echelon" formControlName="echelon_id">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Statut</mat-label>
            <input matInput placeholder="Statut" formControlName="statut_id">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Hierarchie</mat-label>
            <input matInput placeholder="Hierarchie" formControlName="hierarchie_id">
          </mat-form-field>
       </div>
        <div align="center" style="margin-top: 30px;">

          <!-- <button type="button" mat-stroked-button color="warn" (click)="closeDialog()">Fermer</button> -->
          <button type="button" matStepperNext mat-raised-button color="primary"
                  style="background-color: #297F87; margin-left: 100px;">
            Suivant
          </button>
          <!-- <button type="button" mat-stroked-button color="#297F87" style="margin-left: 100px;" (click)="brouillon()">
            Brouillon
          </button> -->
        </div>
      </mat-step>
      <mat-step label="Etape 2">
        <h2>Payement</h2>
        <div class="row">
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>modePaie_id</mat-label>
            <input matInput placeholder=" modePaie" formControlName="modePaie_id">
          </mat-form-field>
          <!-- <mat-form-field appearance="fill" class="col-4">
            <mat-label>Date Proforma</mat-label>
            <input matInput placeholder="Date Proforma" formControlName="dateProforma" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>service</mat-label> -->
   <input matInput placeholder="Service" formControlName="service">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>banque</mat-label>
            <input matInput placeholder="banque" formControlName="banque">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Agence</mat-label>
            <input matInput placeholder="agence" formControlName="agence_id">
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-4">
            <mat-label>Compte</mat-label>
            <input matInput placeholder="Compte" formControlName="numCompte">
          </mat-form-field>
        </div>
          <!-- <button type="button" mat-stroked-button color="warn" (click)="closeDialog()">Fermer</button> -->
          <button type="button" matStepperPrevious mat-stroked-button color="primary" style="margin-left: 100px;">
            Précédent
          </button>
          <button matStepperNext mat-raised-button color="primary" type="submit"
                  style="background-color: #297F87; margin-left: 100px;">
            Soumettre la demande
          </button>
      </mat-step>
    </mat-stepper>
  </form>
</div>

